{% load static %}

{% block content %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body> 
    <div class="banner-w3l-main">
        <br>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="card p-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center mb-4"><b>Forgot Password</b></h2>
                            <form class="forgot-password-form" action="" method="POST">
                                
                                        {% csrf_token %}
                                    <input type="text" placeholder="Username" class="form-control" name="username"><br>

                                <button class="form-control bg-info text-white" type="submit">Send Reset Link</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 

{% endblock  %}
{% include 'footer.html' %}

