{% load static %}

{% block content %}
{% include 'header.html' %}

<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>reset Form</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
</head>
<body>
  <div class="reset-container"> 
   <h2>Change password</h2>
      <form class="Reset-form" method="post">
       {% csrf_token %}
       {{ form.as_p }} <br>
        <button type="submit">Change password</button>
      </form>
  </div>
</body>
</html> 

{% endblock  %}
{% include 'footer.html' %}

  

            